# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Python_home\DiscordBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
